body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    width:100%;
    background: black;
}
.menu{
    display:flex;
}
.showCurso{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.msgUser {
    position: fixed;
    top: 78px;
    right: 11px;
    display: flex;
    width: auto;
    background: #028200;
    z-index: 202;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.26);
    transition: all 0.9s ease-in-out;
    font-size: larger;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
}
.msg_dados {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.statusJob{
    position: absolute;
    top: -20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #4bff00;
    padding: 5px;
    padding-right: 12px;
    color: #2c2845;
    font-size: 1rem;
    z-index: 2;
}
.events-content{
    margin: 1rem;
    padding: 1rem;
    color: #ffffff;
}
.top-events{
    background: linear-gradient(135deg, #060606, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.sub_text{
    font-size: 5.5vh;
}
.ball{
    position: absolute;
    border-radius: 37px;
    background: #ffffff;
    width: 28vh;
    height: 28vh;
    z-index: 1;
    opacity: 0.1;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    animation-name: shak;
    animation-duration: 2s;
    transform: rotate(45deg);
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.line_horizontal{
    border: 0.3vh solid #4bff00;
    width: 64vw;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: -4vh;
    max-width: 100%;
    box-shadow: 0 0 19px 0 #4bff00;
}
.content_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2vw;
    margin-top: 0;
    background: #121212;
    border-radius: 20px;
    width: 50%;
    color: aliceblue;
    backdrop-filter: blur(3px);
    border: 2px solid #404040;
}

.form input{
    border: 2px solid #404040;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    margin-bottom: 10px;
    color: aliceblue;
}
.carrocel{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    margin-top: 7vh;
}
.btn_pass{
    position: absolute;
    right: 0;
    background: #000000de;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77%;
    z-index: 2;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border: 2px solid #8a64ff7a;
    height: auto;

}

/* Classe que torna os botões visíveis */
.btn_pass_show {
    opacity: 1;
}
.btn_pass:hover{
    cursor: pointer;
    background: #000000de;
}
.btn_pass .material-symbols-outlined{
    margin: 0;
    font-size: xx-large;
    padding: 4px;
}
.form button{
    margin-top: 35px;
    border: none;
    padding: 12px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #222223;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background: #4ab7eb;
    align-items: center;
    font-size: large;
}
.form button:hover{
    background: #e9f3ff;
    cursor: pointer;
}
.mini_ball{
    width: 2vh;
    height: 2vh;
    position: absolute;
    border-radius: 50%;
    background: #74f54a;
}
.line_vertical{
    border: 0.3vh solid #ffffff;
    width: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -73vh;
    transform: rotate(90deg);
}
.mini_ball_v{
    width: 2vh;
    height: 2vh;
    position: absolute;
    border-radius: 50%;
    background: #74f54a;
}
.info_curso{
    width: calc(100% - 2vh);
    margin: 1vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background: #161616a8;
    z-index: 100;
    padding-bottom: 4vh;
    max-height: calc(100vh - 6vh);
    overflow: auto;
    border-radius: 5px;

}
.data_curso{
    position: relative;
    padding: 0 6vh;
    max-height: 94vh;
    height: 94vh;
    overflow: auto;
    background: #161616f2;
    border-radius: 20px;
}
button{
    font-family: 'Roboto', sans-serif;
}
.imgTop {
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
    background: #7b85ff;
    box-shadow: 6px 6px 7px 0 #0000009e;
}
.material-symbols-outlined {
    border-radius: 50%;
    margin-left: 10px;
}
.top{
    position: fixed;
    display: flex;
    width:100%;
    align-items: center;
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 100;
    background: #1e1e1ee3;
    transition: all 0.5s ease-in-out;
    height: 70px;
    backdrop-filter: blur(5px);
}
.top.no-topo {
  background-color: transparent; /* Fundo transparente */
    backdrop-filter: blur(0px);
}
.back {
    overflow: hidden;
}
.content_img_empresa{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    color: #ffffff;
    position: relative;
    border: 2px solid #404040;
    border-radius: 15px;
    width: calc(50vw - 2.8rem);
    min-width: calc(50vw - 2.8rem);
    max-width: 100%;
    background: #121212;
    min-height: 31vh;
    padding: 1rem;
    transition: all 0.8s ease-in-out;
}
.content_img_empresa p{
    padding: 1.2vh 4vh;
    border-radius: 20px;
    font-size: 1.4vh;
    background: #62ff00;
    width: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_img_empresa h4{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.8rem;
    color: #8e8e8e;
}
.content_img_empresa h2{
    margin-bottom:0 ;
}
.statusJob p{
    border:none;
    padding: 1vh;
    background: transparent;
    font-size: 1.6vh;
    font-weight: 200;
}
.btn_custon{
    font-size: 2vh;
}
.content_img_empresa:hover{
    color: #ffffff;
    scale: 1.02;
    cursor: pointer;
    border-color: #90ff28;
    box-shadow: 0 0 20px 0 #000000;
    transform: translateY(-10px);
}
.content_curso{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.content_curso h2{
    margin: 0;
    margin-top: 1rem;
}
.content_empresas{
    display: flex;
    overflow: auto;
    align-items: center;
    max-width: 100%;
    position: relative;
    scroll-behavior: smooth; /* Animação suave do scroll */
    /* Para esconder a barra de rolagem no Chrome, Safari e Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}
.port{
    font-size: xx-large;
}
.img_c{
    margin: 1vh;
    width: 17vh;
}
#back{
    height: 50%;
    width: 100%;
}
a{
    text-decoration: none;
}
.btn_top{
    border: none;
    padding: 10px;
    margin: 10px;
    background: transparent;
    font-size: medium;
    color: #e5e5e5;
    border-radius: 20px;
    font-weight: bold;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    padding-right:19px;
}
#btn_menu{
    padding: 9px;
    color: white; 
    font-size: 1.7rem;
    display: none;
    margin: 9px;
}
#btn_menu:hover{
    background: cadetblue;
    border-radius: 50%; 
    cursor:pointer;
}
#btn_menu_close{
    padding: 9px;
    color: white; 
    font-size: 1.7rem;
    margin: 9px;
}
#btn_menu_close:hover{
    background: cadetblue;
    border-radius: 50%; 
    cursor:pointer;
}
.menu_modal{
    display: flex;
    transition: all 0.5s ease-in-out;
    width: 100%;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-radius: 6px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.btn_top:hover,
.btn_top.hover-ativo{
    color:#ffffff;
    cursor: pointer;
    background:linear-gradient(90deg, #76b500, #15bf00);
    box-shadow: 0 0 10px 4px #55a3056b;
}
.content{
    height: auto;
    background:repeating-linear-gradient(90deg, #0a0a0a, #0a0a0a, #0a0a0a, rgb(24 24 24 / 62%), #0a0a0a, #0a0a0a, #0a0a0a 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}
#icon{
    font-size: 5vh;
    color: #855b5b;
    text-align: end;
    margin: 0;
}
.dados{
    display: flex;
    flex-direction: column;
    margin: 25px;
    align-items: center;
    z-index: 2;
}
#inicio{
    transition: all 0.3s ease-in-out;
}
.info{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
    padding: 10px;
}
.dados strong{
    color: #9a9f9f;
}
.c_card{
    transition: all 0.3s ease-in-out;
}
.card_in{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.7s ease-in-out;
    animation: move_text 2s;
}
.card_in strong{
    padding: 2vh;
}
.card_in:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(58, 58, 58, 0.747);
    box-shadow: 9px 9px 20px 1px #000000c4;
}
.background{
    filter: blur(6px);
    height: 100vh;
    width: 100%;
}
.background_sobre{
    height: 69vh;
    width: 100%;
}
.contente_info{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;
}
.c_card:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.info_c{
    display: flex;
    flex-direction: column;
    margin-top: 62px;
}
.bc{
    position: absolute;
    height: 70vh;
    width: 100%;
    display: flex;
    background: linear-gradient(90deg, black, #000000d1, black);
    align-items: center;
    justify-content: center;
}
/* #habilidades .material-symbols-outlined{
    font-size: 57px;
    padding: 24px;
    border-radius: 50%;
    background: #22243b;
    margin: 1vh;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
} */
.my-material-s{
    font-size: 21px;
    padding: 38px;
    width: 29px;
    height: 29px;
    display: flex;
    border-radius: 50%;
    background: #22243b;
    margin: 1vh;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.my-material-s:hover{
    transform: translateY(-10px);
    background: azure;
    color: #bf8a1f;
    box-shadow: 0px 0px 7px 3px #bf8a1fcc;
}
.tema {
    font-size: xx-large;
    color: #90a2ff;
    width: 100%;
    border-bottom: 3px solid #201f1d;
    margin: 20px;
    margin-top: 30px;
    font-family: "Bitcount Prop Single", system-ui;
    font-weight: 200;
    width: 90%;
}
.hb{
    font-size: 11vh;
    padding: 3vh;
    border-radius: 50%;
    background: #201f1d;
    margin: 1vh;
    box-shadow: 9px 9px 20px 1px #000000c4;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
}
.if{
    color: #ffffff;
    justify-content: center;
    padding: 20px;
}
.cd{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}
.card_contato{
    color: aliceblue;
    display: flex;
    margin: 3vh;
    margin-top: 0;
    margin-bottom: 1vh;
}
#Contrate-me{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3vh;
    flex-direction: column;
}
#Contrate-me .material-symbols-outlined{
    font-size: 21px;
    padding: 10px;
    border-radius: 50%;
    background: #515050;
    margin: 1vh;
    box-shadow: 9px 9px 20px 1px #000000c4;
    animation: move 1s;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    width: fit-content;
    position: absolute;
    top: 2px;
    right: 0;
}
.ccc{
    display: flex;
    padding: 2vh;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    color: rgb(128, 128, 128);
    background-color: rgb(7 7 7 / 35%);
    box-shadow: 0px 0px 4px 0px #000000c4;
    align-items: center;
    margin: 0.5vh;
    flex-direction: column;
    position: relative;
    width: calc(50% - 46px);
}
.bg_img {
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    border-radius: 25% 0% 0% 25%;
    width: 100vw;
    height: 100vh;
    opacity: 0.2; /* Opacidade final da animação */
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}
.map{
    border: 0;
    border-radius: 20px;
}
.close{
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background: #656565;
    position: fixed;
    top: 2vh;
    right: 2vh;
    display: flex;
    justify-content: center;
    border: none;
    padding: 0;
    align-items: center;
    z-index: 10;
}
.direction{
    flex-direction: row;
}
.close:hover{
    background: #858484;
}
@keyframes shekBall{
    0%{
        
    }
}
@keyframes showImg {
    from{
        opacity: 0;
        transform: translateX(20px);
    }
    to{
        opacity: 0.2;
        transform: translateX(0px);
    }
}
@keyframes move {
    from{
        opacity: 0.2;
        transform: translateX(80px);
        box-shadow: 0px 0px 0px 0px #000000c4;
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        box-shadow: 9px 9px 20px 1px #000000c4;
    }
}
@keyframes move_text {
    from{
        opacity: 0;
        transform: translateY(10vh);
        backdrop-filter: blur(8px);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
        backdrop-filter: blur(0px);
    }
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
@media (max-width:830px) {
    .card_in{
        margin: 2vh;
    }
    .cd{
        margin: 5vh;
    }
    .c_card{
        margin: 1vh;
    }
    .port{
        font-size: 4vh;
        margin: 2vh;
    }
    .img_c{
        margin: 1vh;
        width: 17vh;
    }
    .map{
        width: 100%;
    }
    .ccc{
        flex-wrap: wrap;
        width: calc(100% - 4vh);
        flex-direction: initial;
    }
    .menu{
        display:none;
    }
    #btn_menu{
      display:block;
    }
    .btn_top {
        width: 48vw;
        margin-bottom: 1vh;
    }
    .content_img_empresa {
        flex-direction: column;
        min-width: 35vh;
        padding-top: 5vh;
    }
    .content_empresas {
        height: 79vh;
    }
    .form{
        width: 100%;
    }
    .sub_text{
        font-size: 3.5vh;
    }
    .ball{
        width: 26vh;
        height: 26vh;
    }
    .direction{
    flex-direction: column;
    }
}
@media (max-width:650px) {
    .card-metricas{
        width: 100%;
    }
    .carrocel .content_img_empresa{
        width: 100%;
    }
    #list_prof .content_img_empresa{
        width: 90vw;
        min-width: 83vw;

    }
    #objetivos .content_img_empresa{
        width: 90vw;
        min-width: 83vw;

    }
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: #000000; 
}
::-webkit-scrollbar-thumb{
    background-color: #1bbe00;
    box-shadow: 0 0 2px 1px white;
    border-radius: 8px;
}

.data_curso::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* Adicionado para garantir a ocultação em alguns casos */
}

    .content_empresas::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* Adicionado para garantir a ocultação em alguns casos */

}
@keyframes notificar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes c_notificar {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes shak {
    0%{
        transform: rotate(45deg);
    }
    40%{
        transform: translateX(50%);
    }50%{
        transform: rotate(0deg);
        opacity: 0.2;
        color: #ffffff;
        z-index: 10;
        font-weight: bold;
    }
    100%{
        transform: rotate(45deg);
    }
}

@media (min-width: 768px) {
    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }
}
.text-muted-foreground {
    color: #9b9b9b;
}

:root{
    --shadow:  0 0 10px 0 hsl(109 93% 48%);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-12 {
    margin-bottom: 3rem;
    text-align: center;
}

.max-w-2xl {
    max-width: 42rem;
    font-size: 1.2rem;
}

* {
    border-color: hsl(var(--border));
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.btn-folow{
    border-radius: 20px;
    padding: 0.7rem 2rem;
    font-size: 1.1rem;
    background: linear-gradient(90deg, hsl(109 93% 38%), hsl(109 93% 48%));
    display: flex;
    align-items: center;
    font-weight: 600;
    border: 0.1rem solid hsl(109 93% 38%);
    margin: 1rem;
    min-width: 244px;
    justify-content: space-evenly;
}

.transition{
    transition: all 0.3s ease-in-out;
}
.btn-folow-two{
        background: transparent;
        color: aliceblue;
}
.btn-folow:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow);
}

.btn-folow-two:hover{
        background: transparent;
        color: aliceblue;
        background: linear-gradient(90deg, hsl(109, 100%, 53%), hsl(109 93% 48%));
        color: #000000;
}

.balao_wpp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background: #78c932;
    color: #000000;
    position: fixed;
    bottom: 1.7rem;
    right: 1.7rem;
    z-index: 10;
    box-shadow: 0 0 13px 0px #78c932;
    transition: all 0.3s ease-in-out;
    animation: shake 0.3s infinite linear;
}
.balao_wpp .material-symbols-outlined{
    font-size: 1.8rem;
}
.balao_wpp:hover{
    box-shadow: 0 0 13px 4px #78c932;
}

@keyframes shake{
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(0.7rem);
    }100%{
        transform: translateY(0);
    }
}

.content-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.card-metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 20px;
    border: 0.15rem solid #3f3f3f;
    padding: 1.2rem;
    min-width: 11rem;
    background:#0000001a;
    box-shadow: 6px 5px 20px 0 #000000;
    transition: all 0.3s ease-in-out;
}
.card-metricas h2{
    color: #69f849;
    font-size: 2.2rem;
    margin: 0;
    font-weight: 700;
}
.card-metricas p{
    color:#868686;
    margin-bottom: 0;
    margin-top: 1rem;
}
.div-d{
    border: 3px solid #69f849;
    box-shadow: 0 0 7px 0 #0DEF7C;
    width: 15rem;
    max-width: 100%;
    margin-top: 0.5rem;
}

.card-metricas:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px 0px #69f84985;
    border: 0.15rem solid #69f849;
}
.hoverCardTwo:hover{
    box-shadow: 0 0 20px 0px #a892f785;
    border: 0.15rem solid #a892f7;
}
.hoverCardThree:hover{
    box-shadow: 0 0 20px 0px #40c5f283;
    border: 0.15rem solid #40c5f2;
}

.imgTop .material-symbols-outlined{
    margin: 0;
    font-size: 2rem;
}
.align-simple{
    display: flex;
    align-items: center;
    margin: 0.4rem 0;
}
.align-simple .material-symbols-outlined{
    margin: 0;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.circle_icon{
    border-radius: 50%;
    background: #1c2a18;
    color: #67f448;
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    box-shadow: 0 0;
}
.circle_icon:hover{
    box-shadow: 0 0 20px 0px #67f448ad;
    background:#24411e;
}

.chat{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: 70%;
    width: 25%;
    border: 1px solid #1c2a18;
    border-radius: 10px;
    background: #121212;
    z-index: 10;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    animation: ample 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}
.top_chat{
    display: flex;
    align-items: center;
    background: darkslategrey;
    padding: 0 12px;
    color: aliceblue;
    border-radius: 10px 10px 1px 1px;
    justify-content: space-between;
}
.status_server{
    border-radius: 50%;
    width: 15px;
    min-width: 15px;
    height: 15px;
    background: yellowgreen;
    border: 2px solid aliceblue;
    margin: 10px;
    box-shadow: 0 0 13px 0 #9acd32;
}
.content_chat{
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.user_chat{
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    margin-top: 0;
}
.card_msg{
    display: flex;
    max-width: 100%;
    overflow: hidden;
}
.card_msg p{
    max-width: 100%;
    font-family: Roboto, sans-serif;
    border-radius: 3px 10px 10px 10px;
    margin: 0;
    background: #22243b;
    color: aliceblue;
    padding: 12px;
    margin: 0 19px 2px 2px;
}

.content_input{
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    padding: 0px;
    background: #212020;
    border-radius: 37px;
    margin: 1rem;
    padding: 0.25rem;
    padding-left: 0.6rem;
}
.content_input textarea{
    font-family: Roboto, sans-serif;
    width: 100%;
    resize: none;
    background: rgb(33 32 32);
    border-radius: 20px;
    height: 100%;
    font-size: 1.4rem;
    padding: 0px 10px;
    color: rgb(255 255 255);
    text-shadow: rgb(131, 255, 0) 0px 0px 4px;
    height: 2rem;
    outline: none;
}
.content_input .material-symbols-outlined{
    font-size: 1.5rem;
    color: rgb(33 32 32);
    margin: 0px;
    margin-left: 5px;
    border-radius: 50%;
    padding: 0.2rem;
    background: blueviolet;
}
.btn-close{
    border-radius: 50%;
    padding: 3px;
    display: flex;
    background: cadetblue;
    color: aliceblue;
}
.btn-close .material-symbols-outlined{
    margin: 0;
}
@keyframes ample {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}

@media (max-width:830px) {
    .chat{
        width: calc(100% - 2rem);
    }
}








